@import "../../style.scss";

.rightBar{
    @include themify($themes){
    flex: 3; 
    position: sticky;
    top: 60px;
    height: calc(100vh - 70px);
    overflow: scroll;

    @include mobile{
        display: none;
    }

    @include tablet{
        display: none;
    }

    &::-webkit-scrollbar{
        display: none;
    }
    .container{
        //padding: 20px;
        .item{
            border-radius: 10px;
            background-color: themed("bgsub");
            padding: 20px;
            margin-bottom: 20px;
            span{
                color: themed("textColorSoft");
            }
            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;
                
                .userInfo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;
                    color: themed("textColor");
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .online{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position: absolute;
                        top: 0;
                        left: 30px;
                    }
                    p{
                     color: themed("textColorsoft");;
                     font-size: 12px;
                    }
                    span{
                        margin-right: 5px;
                         font-weight: 500;
                         color: themed("textColor");
                    }
                }
                span{
                    font-size: 12px;
                    color: themed("textColor");
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button{
                        cursor: pointer;
                        border: none;

                    }
                }
            }
        }

    }
}
}